* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor00:#D099D4;
    --cor001:#FCD1FF;
    --cor002:#845487;
    --cor003:#628746;
    --cor004:#B2D498;
    --cor005:rgb(116, 114, 114);
}

body{
    width: 100vw;
}

/*-------- HEADER LOGOTIPO ----------*/

header{
    display: block;
    width: 100vw;
    background-color: var(--cor001);
}
#logo{
    position: relative;
    display: inline-block;
    width: 20vw;
    margin-left: 50%;
    transform: translateX(-50%);

}
#logo > a > p{
    position: absolute;
    margin-left: 40%;
    margin-top: -28%;
    color:#f8ecfa ;
    font-size: 2.1em;
    text-shadow: 1px 1px 5px rgb(44, 44, 44);

}


header > a > img{
    padding: 20px 0px 0px 0px;
    margin-left: 50%;
    transform: translateX(-50%);q
    max-width: 70vw;
}

/*-------- HEADER MENU ----------*/


.material-symbols-outlined{
    color: var(--cor005);
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-shadow: 1px .5px rgba(0, 0, 0, 0.308) ;
    font-size: 1.5em;
}


ul > li{
    text-align: center;
    color:var(--cor005);
}

ul > li > a{
    text-decoration: none;
}




/*
border: 3px solid #73AD21;
*/