* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor00:#D099D4;
    --cor001:#FCD1FF;
    --cor002:#845487;
    --cor003:#628746;
    --cor004:#B2D498;
}

body{
    width: 100vw;
}


nav{
    width: 100vw;
    background-color: var(--cor001);
}

nav > img{
    padding: 20px 0px 0px 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 70vw;
}

nav > div{

}



.material-symbols-outlined{
    
    margin-left: 50%;
    transform: translateX(-50%);
}

.material-symbols-outlined :hover{
    
}