@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --cor00:#D099D4;
    --cor001:#FCD1FF;
    --cor002:#845487;
    --cor003:#628746;
    --cor004:#B2D498;
    --cor005:rgb(116, 114, 114);
}

body header{
    width: 100%;
}
/*---------- HEADER CONFIGURATION --------- */
header{
    background-image: linear-gradient(var(--cor00), var(--cor001));
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    
}

#logo{
    position: absolute;
    padding: 10px;
    display: inline;
    width: 120px;   
}
.lettering{
    display: block;
    margin: auto;
    padding: 5px;
}
.lettering > h1{
    color: rgb(232, 232, 232);
    text-shadow: 2px 2px rgba(56, 56, 56, 0.703);
    font-size: 2.7  em;
    text-align: center;
    font-family: 'Albertus Nova';
}
.lettering > h2{
    font-size: small;
    text-align: center;
}



#burger{
    position: absolute;
    display: inline-block;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
}
/*---------- DROP-MENU CONFIGURATION --------- */

#menuDrop{
    display: none;
}
#menuDrop > ul > li{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid var(--cor005);
    font-size: 1.3em;
}

#menuDrop > ul{
    right: 0px;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.945);
    list-style:none;    
    width: 50%;
    
}

a{
    text-decoration: none;
    color:#3A2D18;
}
/*---------- MAIN ---------*/
main{

}

.imagem-cnt > img{
    position: relative;
    width: 100vw;
    z-index: 500;

}

.imagem-cnt > div{
    position: absolute;
    z-index: 700;
    top: 60%;
    right: 10%;
}

/*---------- TEXT ----------*/
.descrição > p{
    padding: 20px;
}
h1{
    padding: 5px;
    margin-left: 5px;
}


/*---------- FOORTER ----------*/

footer{
    height: 50px;
    background-color: var(--cor002);
    text-align: center;
}

/*--------- BUTTONS----------*/
.whatsappbtn > img{
    margin-left: 10px;
}

.whatsappbtn{
    display: inline-flex;
    background-color: #2CBF36;
    color: #F2F2F2;
    border:3px solid #F2F2F2;
    width: 140px;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
.whatsappbtn:hover{
    cursor: pointer;
}

.imagem-cnt div{
    margin-left: 260px;
}

